html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: Arial;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper {
    height: 100%;
    position: relative;
    background: #aaa;
}

.limiter {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
}

.form {
    overflow: hidden;
    margin-right: -20px;
    margin-bottom: 20px;
}

.form__control {
    width: 33.33333%;
    float: left;
    padding-right: 20px;
}

.form__control-label {
    height: 18px;
}

.form__control:last-child {
    text-align: center;
}

.field {
    width: 100%;
    height: 30px;
    border: 1px solid #666;
    outline: none;
    padding: 0 10px;
}

    .field.invalid {
        border-color: red;
    }

.button {
    background: #1c5bcc;
    color: #fff;
    height: 30px;
    line-height: 30px;
    min-width: 150px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #1c5bcc;
    border-radius: 4px;
}

    .button:hover {
        background: #fff;
        color: #1c5bcc;
    }

.button_red {
    background: red;
    border-color: red;
}

.processing {
    position: relative;
}

    .processing:after {
        content: ' ';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255,255,255, 0.7) url(./images/loading.gif) no-repeat center center;
        background-size: 64px;
    }

.item {
    overflow: hidden;
    margin-right: -20px;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}

    .item:last-child {
        border-bottom: 0;
    }

.item__param {
    width: 33.33333%;
    float: left;
    padding-right: 20px;
}

.item__param_actions {
    text-align: center;
}

    .item__param_actions span {
        margin: 0 10px;
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
    }

.item__delete {
    color: red;
}

.item__edit {
    color: green;
}

.menu
{
  margin-bottom: 20px;
}

.menu a
{
  font-weight: bold;
  color: #000;
}

.menu a:hover
{
  text-decoration: none;
}